<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="_AuthAppId" value ="MatouApp"/>
    <add key="mongotest" value="mongodb://172.16.100.106:27017,172.16.100.105:27017/?replicaSet=rs0&amp;authSource=MongoTest&amp;readPreference=secondarypreferred&amp;connectTimeoutMS=300000&amp;w=1" />
  </appSettings>
</configuration>